.idea
*.iml
test_tf_serving
*.xml
tf_serving
kubeflow
manifests
venv
LAUNCH.md
script.sh
/training/.env
/training/results
/training/checkpoints
/training/*.txt
/training/uploadV2.sh
nb-log/
training/data/
*.csv